@import '@/assets/styles/app';

.gont-tile-layout-template {
  .gonuxt-tile {
    padding: 0.25rem;
  }
}

.card-item {
  margin: 0 10px 0 10px;
  max-width: 360px;
  max-height: 320px;
}

.card-item2 {
  elevation: 0;
  margin: 10px 10px 10px 10px;
  max-width: 340px;
  max-height: 180px;
}

.card-item3 {
  elevation: 0;
  margin: 0 0 0 0;
  max-width: 360px;
  max-height: 60px;
}

.card-text {
  color: white;
  text-align: left;
}

.card-title {
  color: white;
  text-align: center;
}

.btn-item {
  margin: 0 0 10px 0;
}

.sheet-item1 {
  max-width: 70px;
  max-height: 40px;
}

.sheet-item0 {
  max-width: 100%;
  max-height: 100%;
}
