@import '@/assets/styles/app';

.txt1 {
  font-size: min(calc((100vw - 10rem) / 15), 1.53rem);
}

.txt2 {
  font-size: min(calc((100vw - 10rem) / 15 * 0.85), 1.3rem);
}

.txt3 {
  font-size: min(calc((100vw - 10rem) / 15 * 0.85), 1.4rem);
}

.font-txt {
  font-family: '游ゴシック体', YuGothic, 'YuGothic M', sans-serif;
}

.border-0 {
  border-radius: 10px;
}

@media screen and (min-width: 600px) {
  .br-disp {
    display: none;
  }
}
